@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Раскрасить фото</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Kadyrkesh Sultan" />
    <meta name="copyright" content="Kadyrkesh Sultan" />
    <meta name="theme-color" content="#5a6169">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cocoen.min.css">
    <style type="text/css">
    @@media (max-width: 320px) {
      .sample{
        max-width: 100%;
        cursor: pointer;
        height: 225px;
        margin-bottom: 20px;

      }
    }
    @@media (min-width: 321px) {
      .sample{
        max-width: 90%;
        cursor: pointer;
        height: 225px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }
      .container {
        position: relative;
        margin: auto;
        max-width: 700px;
        text-align: center;
      }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary mb-4">
        <img src="https://designrevision.com/demo/shards/images/shards-logo.svg" alt="Example Navbar 1" class="mr-2" height="30">
        <a class="navbar-brand" href="#">Illumin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-2" aria-controls="navbarNavDropdown-2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown-2">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">Algorithmia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shards</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
            <h3 class="mb-4" style="text-align: center;">Раскрасить фото</h3>
            <p>Используется Deep Learning для автоматической раскраски черно-белых фотографий</p>

            <div class="form-group">
                <label for="exampleInputEmail1">Вставьте адрес изображения, посмотрим что получится</label>
                <input id="urlImage" type="url" class="form-control" aria-describedby="emailHelp" placeholder="https://">
                <br>
                <button onclick="Colorize();" style="margin: 0 auto;display: block;" class="btn btn-primary">Раскрасить</button>
                <br>
                <small id="emailHelp" style="text-align: center;" class="form-text text-muted">Или, попробуйте эти примеры изображений:</small>
            </div>

        </div>
        <br>


    </div>
    <p style="text-align: center;">
        <img class="sample rounded" src="/images/homeB.jpg" alt="..." onclick="Paste('/images/homeB.jpg', '/images/homeA.png')">
        <img class="sample rounded" src="/images/dogBefore.png" alt="..." onclick="Paste('/images/dogBefore.png', '/images/dogAfter.png')">
        <img class="sample rounded" src="/images/flowerB.jpg" alt="..." onclick="Paste('/images/flowerB.jpg', '/images/flowerA.png')">
    </p>

    <div class="container">
        <h3>Раскраска фото до и после</h3>
        <h6 id="errorCode"></h6>
        <div class="cocoen">
            <img id="before" src="/images/dogBefore.png" alt="">
            <img id="after" src="/images/dogAfter.png" alt="">
        </div>
    </div>
    <br>

    <!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/cocoen.min.js"></script>
    <script src="/js/cocoen-jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.2/loadingoverlay.min.js"></script>
    <script>
      $(function(){
        $('.cocoen').cocoen();
      });
    </script>
    <script>
      function Paste(before, after)
      {
        $("#before").attr('src', before);
        $("#after").attr('src', after);
        }

        function Colorize() {
            $.LoadingOverlay("show");
            $("#errorCode").text("");
            var url = $("#urlImage").val();
            $.ajax({
                type: 'GET',
                success: function (data) {
                    $("#before").attr('src', url);
                    $("#after").attr('src', "data:image/png;base64," + data);
                    var scrollTop = $('#errorCode').offset().top;
                    $(document).scrollTop(scrollTop);
                    $.LoadingOverlay("hide");
                },
                url: '/home/color?url=' + url,
                error: function (data) {
                    $.LoadingOverlay("hide");
                    $("#errorCode").text(data.responseText);
                    $("#errorCode").css('color', 'red');
                    var scrollTop = $('#errorCode').offset().top;
                    $(document).scrollTop(scrollTop);
                }
            })
        }
    </script>
</body>
</html>