################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Colorize/.vs/Colorize/v15/Server/sqlite3/db.lock
/Colorize/.vs/Colorize/v15/Server/sqlite3/storage.ide
/Colorize/.vs/Colorize/v15/Server/sqlite3/storage.ide-wal
/Colorize/.vs/Colorize/v15/Server/sqlite3/storage.ide-shm
